.button {
  border: 1px solid;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  white-space: none;
  text-overflow: ellipsis;
  padding: 0 15px;
}
